@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Contrail+One&display=swap');

body {
	font-family: 'Lato', sans-serif;
	background-color: #f6f2f2;
	width: 100%;
	height: 100vh;
}

.col {
	margin-top: 30px;
	height: 97px;
	background-color: #313030;
}

.navigation a {
	display: inline-block;
	padding: 38px 25px 38px 25px;
	color: #c9c9c9;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 14px;
}

.navigation a li {
	vertical-align: middle;
	list-style-type: none; 
}

.navigation a:hover {
	background: #ff3f40;
	color: #fff;
}

.contact_us {
	display: inline-block;
	width: 625px;
	height: 350px;
	margin-top: 125px;
	/*background-color: #CCCCCC;*/
}

.contact_us h1 {
	display: inline-block;
	font-family: 'Archivo Black', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #000;
	font-size: 60px;
}

.contact_us p {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	color: #494848;
	margin-top: 20px;
}

.contact_us .btn {
	margin-top: 35px;
	background: #ff2d2d;
	padding: 13px 57px 13px 57px;
	color: #fff;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	border-radius: 5px;
	transition: 0.2s;
}

.contact_us .btn:hover {
	color: #ff2d2d;
	background: #fff;
	border: 2px solid #ff2d2d;
}

.video {
	position: absolute;
	display: inline-block;
	margin-top: 125px;
	margin-left: 665px;
	box-shadow: 15px 15px 70px;
}

.rowbox {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	margin-top: 375px;
	background-color: #fff;
	border-bottom: 2px solid #ececec;
	box-shadow: 2px 2px 10px;
}

.do_you_know {
	display: inline-block;
	width: 510px;
	height: 330px;
	margin-top: 125px;
	margin-left: 375px;
}

.do_you_know h1 {
	color: #333333;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 42px;
	font-weight: 900;
	font-family: 'Cabin', sans-serif;
}

.do_you_know p {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	color: #000;
	margin-top: 20px;
	font-size: 16px;
}

.do_you_know .btn {
	margin-top: 35px;
	background: #fff;
	padding: 13px 57px 13px 57px;
	color: #ff2d2d;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	border: 2px solid #ff2d2d;
	border-radius: 5px;
	transition: 0.2s;
}

.do_you_know .btn:hover {
	background: #ff2d2d;
	color: #fff;
}

.info {
	position: absolute;
	display: inline-block;
	width: 550px;
	height: 550px;
	top: 0;
	margin-left: 375px;
	margin-top: 125px;
}

.management {
	display: inline-block;
	width: 250px;
	height: 225px;
}

.info .management h2 {
	font-size: 24px;
	color: #4c4c4c;
	margin-top: 15px;
	font-weight: 900;
}

.info .management i {
	display: inline-block;
	font-size: 42px;
	color: #ff2d2d;
}

.info .management p {
	margin-top: 10px;
	font-size: 16px;
	color: #585858;
}

.design {
	margin-right: 0;
	display: inline-block;
	width: 255px;
	height: 225px;
	margin-left: 41px;
}

.info .design h2 {
	font-size: 24px;
	color: #4c4c4c;
	margin-top: 15px;
	font-weight: 900;
}

.info .design i {
	display: inline-block;
	font-size: 42px;
	color: #ff2d2d;
}

.info .design p {
	margin-top: 10px;
	font-size: 16px;
	color: #585858;
}

.logo {
	margin-top: 35px;
	display: inline-block;
	width: 250px;
	height: 225px;
}

.info .logo h2 {
	font-size: 24px;
	color: #4c4c4c;
	margin-top: 15px;
	font-weight: 900;
}

.info .logo i {
	display: inline-block;
	font-size: 42px;
	color: #ff2d2d;
}

.info .logo p {
	margin-top: 10px;
	font-size: 16px;
	color: #585858;
}

.animation {
	margin-top: 35px;
	display: inline-block;
	width: 250px;
	height: 225px;
	margin-left: 41px;
}

.info .animation h2 {
	font-size: 24px;
	color: #4c4c4c;
	margin-top: 15px;
	font-weight: 900;
}

.info .animation i {
	display: inline-block;
	font-size: 42px;
	color: #ff2d2d;
}

.info .animation p {
	margin-top: 10px;
	font-size: 16px;
	color: #585858;
}

.feature .col-lg-12{
	display: inline-block;
	background-color: #fff;
	margin-top: 1355px;
	width: 1140px;
	height: 85%;
	box-shadow: 2px 2px 10px;
}

.heading {
	margin-top: 125px;
	border-bottom: 2px solid #ff2d2d;
	border-radius: 1px;
}

.feature .col-lg-12 .heading h1 {
	font-size: 42px;
	color: #333333;
	font-weight: 700;
	font-family: 'Cabin', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.feature .col-lg-12 .heading p {
	font-size: 16px;
	color: #585858;
	margin-top: 15px;
	padding-bottom: 20px;
}

.types {
	margin-top: 90px;
}

.types a li {
	display: inline-block;
	list-style-type: none; 
}

.types a {
	vertical-align: middle;
	padding: 0px 25px 0px 25px;
	color: #4c4c4c;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 22px;
	transition: 0.2s;
}

.types a:hover {
	color: #ff2d2d;
}

.section_img {
	margin-top: 40px;
	height: 24%;
}

.section_img img {
	padding: 20px 0px 0px 20px;
	transition: 0.2s;
}

.section_img img:hover {
	transform: scale(1.05);
}

.team {
	position: absolute;
	display: inline-block;
	margin-top: 20%;
	height: 35%;
	width: 97%;
}

.heading_team {
	display: inline-block;
	border-bottom: 2px solid #ff2d2d;
	border-radius: 1px;
}

.team .heading_team {
	display: inline-block;
	width: 37%;
	height: 25%;
}

.team .heading_team h1 {
	display: inline-block;
	font-size: 42px;
	color: #333333;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
}

.team .heading_team p {
	font-size: 16px;
	color: #585858;
	padding-top: 15px;
	padding-left: 15px;
}

.team_info{
	display: inline-block;
	height: 75%;
}

.team_info img:first-child {
	display: inline-block;
	margin-top: 7%;
	transition: 0.2s;
}

.team_info img:nth-child(2){
	margin-top: 31.45%;
	position: absolute;
	margin-left: 6%;
	transition: 0.2s;
}

.team_info img:nth-child(3){
	margin-top: 31.45%;
	position: absolute;
	margin-left: 28%;
	transition: 0.2s;
}

.team_info img:nth-child(4){
	margin-top: 31.45%;
	position: absolute;
	margin-left: 50%;
	transition: 0.2s;
}

.team_info img:hover {
	transform: scale(1.05);
}

.team_info_txt{
	display: inline-block;
	position: absolute;
	width: 60%;
	height: 30%;
	margin-top: 8%;
}

.team_info_txt h2 {
	display: inline-block;
	margin-left: 10%;
	color: #333333;
	font-weight: 700;
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 30px;
}

.team_info_txt p {
	display: inline-block;
	margin-left: 10%;
	margin-top: 2%;
	font-size: 16px;
	color: #585858;
	font-family: 'Lato', sans-serif;
}

.team_info_txt a li {
	display: inline-block;
	list-style-type: none;
	margin-top: 4%;
	transition: 0.2s; 
}

.team_info_txt a {
	vertical-align: middle;
	padding: 0px 20px 0px 20px;
	color: #4c4c4c;
	text-decoration: none;
	font-weight: 100;
	font-size: 18px;
	font-family: 'Contrail One', cursive;
}

.team_info_txt a li:hover {
	color: #ff2d2d;
}

.email .col-lg-12 {
	margin-top: 90%;
	height: 35%;
	width: 1140px;
	display: inline-block;
	background-color: #f5f0dd;
	box-shadow: 2px 2px 10px;
}

.email_txt h1 {
	font-size: 42px;
	margin-top: 10%;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

.email_txt p {
	margin-top: 3%;
	color: #fff;
	font-family: 'Lato', sans-serif;
	text-shadow: 1px 1px 1px black;
	font-size: 16px;
}

form .inputBox input {
	display: inline-block;
	outline: none;
	padding: 25px;
	border: none;
	width: 50%;
	border-radius: 5px;
	margin-top: 5%;
}

.email_txt .btn {
	display: inline-block;
	margin-left: 41%;
	margin-top: 2%;
	background-color: #ff2d2d;
	padding: 20px 50px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	transition: 0.2s;
	font-size: 18px;
	border-radius: 5px;
}

.email_txt .btn:hover {
	background-color: #fff;
	border: 2px solid #ff2d2d;
	color: #ff2d2d;
}

.reg_form {
	position: absolute;
	margin-top: 5%;
	background-color: #fff;
	height: 100%;
	display: inline-block;
	width: 1140px;
	box-shadow: 2px 2px 10px;
}

.get_in_touch {
	/*background-color: #c7c7c7;*/
	width: 60%;
	height: 35%;
	margin-top: 8%;
	border-bottom: 2px solid #ff2d2d;
	border-radius: 1px;
}

.get_in_touch h1 {
	font-size: 42px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #333333;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}

.get_in_touch p {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #585858;
	margin-top: 5%;
	padding-bottom: 8%;
}

.min_form {
	display: inline-block;
	position: absolute;
	margin-top: 5%; 
	width: 60%;
	/*background-color: #c7c7c7;*/
}

.formBox input {
	outline: none;
	border: none;
	background-color: #e5e5e5;
	padding: 20px 95px 20px 20px;
	border-radius: 10px;
	margin-right: 3%;
	color: #444444;
	font-size: 18px;
}

.formBox input:last-child {
	margin-top: 5%;
	width: 100%;
	padding: 20px 20px 225px 20px;
}

form .btn {
	display: inline-block;
	background-color: #ff2d2d;
	width: 100%;
	margin-top: 5%;
	padding: 25px;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 18px;
	border-radius: 5px;
	transition: 0.2s;
}

form .btn:hover {
	background-color: #fff;
	color: #ff2d2d;
	border: 2px solid #ff2d2d;
}

.contact_info {
	display: inline-block;
	position: absolute;
	right: 0;
	margin-top: 5%;
	width: 35%;
	height: 50%;
	background-color: #2d2d2d;
}

.contact_info h2 {
	font-family: 'Lato', sans-serif;
	font-weight: 900;
	font-size: 18px;
	text-transform: uppercase;
	color: #c9c9c9;
	letter-spacing: 1px;
	margin-top: 30%;
	margin-left: 15%;
}

.contact_info p {
	font-size: 16px;
	color: #e0e0e0; 
	font-family: 'Lato', sans-serif;
	margin-left: 15%;
	padding: 5% 0 0 0;
}

.footer {
	display: block;
	position: absolute;
	margin-top: 53.90%;
	width: 1140px;
	height: 10%;
	background-color: #313030;
	box-shadow: 5px 5px 10px;
}

.footer p {
	position: absolute;
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	color: #afafaf;
	margin-top: 3.8%;
	margin-left: 5%;
}

.soc {
	display: inline-block;
	position: absolute;
	margin-left: 70%;
	font-size: 36px;
	margin-top: 2%;
}

.soc a {
	color: #fff;
	padding-right: 20px;
	transition: 0.2s;
}

.soc a:hover:first-child {
	color: #7ed6df;
}

.soc a:hover:nth-child(2) {
	color: #1D76FF;
}

.soc a:hover:nth-child(3) {
	color: #d63031;
}

.soc a:hover:last-child {
	color: #2980b9;
}

@media screen and (max-width: 1601px) {
	.do_you_know {
		margin-left: 215px;
	}

	.feature .col-lg-12 {
		margin-top: 1200px;
	}

	.email .col-lg-12 {
		margin-top: 80%;
	}

	.reg_form {
		margin-top: 3%;
		height: 115%;
	}
	
	.footer {
		margin-top: 60.3%;
		height: 12%;
	}
	.contact_info {
		height: 53.5%;
	}

}

@media screen and (max-width: 1367px) {
	.do_you_know {
		margin-left: 100px;
	}

	.feature .col-lg-12 {
		margin-top: 1050px;
		height: 90%;
	}

	.email .col-lg-12 {
		margin-top: 76%;
	}

	.reg_form {
		margin-top: 3%;
		height: 140%;
	}
	
	.footer {
		margin-top: 71%;
		height: 15%;
	}
	.contact_info {
		height: 53%;
	}

}













































