@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

html {
	height: 100%;
	overflow: hidden;
}

body {
	padding: 0;
	margin: 0;
	perspective: 1px;
	transform-style: preserve-3d;
	overflow-y: scroll;
	overflow-x: hidden;
	font-family: 'Noto Sans JP', sans-serif;
	color: #fff;
}

header {
	box-sizing: border-box;
	min-height: 100vh;
	text-align: center;
	padding-top: 17%;
	transform-style: inherit;
	width: 100vw; 
}

header::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform-origin: center;
	min-height: 100vh;
	background-image: url(1.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	transform: translateZ(-1px) scale(2);
}

header h1 {
	margin-top: -50px;
	letter-spacing: 2px;
	font-size: 56px;
	color: #fff;
	text-shadow: 2px 0 0 #000;
	cursor: default;
}


