body {
	margin: 0;
	padding: 0;
	background-color: #7FFFD4;
}
.section {
	top: 30px;
	left: 15px;
	text-align: center;
	width: 300px;
	height: 450px;
	margin: 0;
	padding: 0;
	position: fixed;
	float: right;
	background-color: #E0FFFF;
	border-radius: 15px;
	border: 2px solid black;
}
img  {
	padding: 3px;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: relative;
	display: flex;

}
.content {
	height: calc(100%-175px);
}
.button {
			width: 50px;
      		height: 50px;
      		background: #fff;
      		border-radius: 5px;
      		font-family: 'Arctic', cursive;
      		color: #6C6960;
      		overflow: hidden;
      		border: 2px solid #6C6960;
      		display: flex;
      		justify-content: center;
      		align-items: center;
      		margin: 5px;
      		font-size: 20px;
}

.features {
	position: relative;
	margin: 20px;
	padding: 10px;
	width: 70%;
	height: 300px;
	border-radius: 20px;
	border-color: #000;
	border: 2px solid black;
	float: right;
}
.lines {
	position: relative;
	margin: 20px;
	padding: 10px;
	width: 70%;
	height: 100px;
	border-radius: 20px;
	border-color: #000;
	border: 2px solid black;
	float: right;
}
.other {
	position: relative;
	margin: 20px;
	padding: 10px;
	width: 70%;
	height: 100px;
	border-radius: 20px;
	border-color: #000;
	border: 2px solid black;
	float: right;
}
.done {
	position: relative;
	margin: 20px;
	padding: 10px;
	width: 70%;
	height: 100px;
	border-radius: 20px;
	border-color: #000;
	border: 2px solid black;
	float: right;
}
.WIP {
	position: relative;
	margin: 20px;
	padding: 10px;
	width: 70%;
	height: 100px;
	border-radius: 20px;
	border-color: #000;
	border: 2px solid black;
	float: right;
}
.footer {
	position: static;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 175px;
	background-color: #000;
	color: #fff;
	bottom: 0;
}
