
header{
 width: 100%;
 background: #D8E3AB;
 height: 70px;
}
.title{
 font-size: 36px;
 padding-top: 10px;
 text-align: center;
}
.menu{
 list-style: none;
 position: absolute;
 top: 10px;
 right: 100px;
}
 .sign {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px; /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
   }
   .sign figcaption {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
   }
  h1{
  	text-align: center;
  }
  .contact{
  	text-align: center;
  	
  }