#canvas{
	position: fixed;
	z-index: -100;
	width: 100%;
	height: 100vh;
	background-color: #ececec;
}
#defaultCanvas0{
	position: fixed;
	z-index: -100;
	width: 200%;
	background-color: #ececec;
}
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #444;
}
body{ background-color: #ececec; }
a{ text-decoration: none; }
.wrapper{
	width: 1170px;
	margin: 0px auto;
}

/*	Шапка	*/
.right_container{
	background-color: #fff;
	text-align: center;
	margin: 20px 10px;
	padding: 5px;
	width: 848px;
	float: right;
	box-shadow: 2px 2px 5px rgba(82,82,82,.5);
}

.my_photo{
	height: 350px;
	margin-bottom: 5px;
}

h1{
	text-transform: uppercase;
	font-size: 32px;
}

hr{
	border: none;
	height: 1px;
	background: #fff;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(82,82,82,1) 50%, rgba(0,0,0,0) 100%);
	margin: 20px 0px;
}

h2{
	font-size: 28px;
	font-weight: normal;
}

/*	Контакты	*/
.left_container{
	position: fixed;
	background-color: #fff;
	float: left;
	width: 243px;
	text-align: center;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin: 20px 10px;
	padding: 20px 5px;
	box-shadow: 2px 2px 3px rgba(82,82,82,.5);
}

.contact > h2{
	text-transform: uppercase;
	font-weight: 700;
}

.contact > hr{
	width: 80%;
	margin: 5px auto 15px auto;
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(82,82,82,1) 50%, rgba(0,0,0,0) 100%);
}

.contact_link{
	width: 90%;
	margin: 0 auto;
	text-align: center;
}
.contact_link > i{
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 28px;
}

.contact_link > a{
	width: 28px;
	height: 28px;
	font-size: 28px;
	text-decoration: none;
	border-radius: 50%;
}

a > i {transition: .2s;}

.vk_link:hover{
	text-shadow: 0px 0px 4px #4872a3;
	color: #4872a3;
}

a > i.inst_link{
	width: 33px;
	height: 33px;
	border-radius: 50%;
	line-height: 33px;
}
.inst_link:hover{
	border-radius: 50%;
	color: #fff;
	background: rgb(255,255,27);
	background: linear-gradient(31deg, rgba(255,255,27,1) 0%, rgba(238,24,238,1) 50%, rgba(67,27,227,1) 100%);
}

a > i.github_link{
	width: 27px;
	height: 27px;
	border-radius: 50%;
	line-height: 27px;
}
.github_link:hover{
	border-radius: 50%;
	color: #fff;
	background-color: #555;
	text-shadow: 0px 0px 8px#000;
}


/*	Стилизация блока для прокрутки	*/
.skill_scroll,
.complete-work_scroll{
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	margin: 5px auto;
}

.scroll_nav{
	font-size: 24px;
}

/*	Портфолио	*/
h3{
	text-transform: uppercase;
	font-size: 24px;
}

p{
	margin: 10px;
	text-align: left;
	font-size: 20px;
}

/*	Проф навыки	*/
.skill{
	margin: 45px auto;
}
.progressiv_bar{
	width: 100%;
	margin: 0px auto;
	height: 10px;
}

.progressiv_cell{
	background-color: rgba(92, 46, 232, .1);
	width: 19.5%;
	height: 8px;
	float: left;
	margin-right: 0.5%;
	box-shadow: 1px 1px 0px #4121A3, 1px 1px 5px rgba(65, 33, 163, 1);
	border-radius: 2px;
}
.fill{background-color: #5C2EE8;}

/* Colors
	survive: #FF4D40 - красный
	life: #6FFF6A - зеленый
	future: #5C2EE8/#4121A3 - фиолетовый
	#33FFE1 - голубой
	#E8BA2E - желтый
*/